################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

SharedMemoryDllForProlog/ShareAppOne/x64/Debug
SharedMemoryDllForProlog/ShareDataDLL/x64/Debug
SharedMemoryDllForProlog/ShareAppTwo/x64/Debug
SharedMemoryDllForProlog/x64/Debug
SharedMemoryDllForProlog/.vs/